html,body{
    background-image: linear-gradient(to bottom right, red, yellow);
    
}
.aboutUs {
    position: absolute;
    width: 2596px;
    height: 850px;
    left: 0px;
    right: 0px;
    top: 20px;
    padding-top: 50px;
    padding-left: 50px;
}

