.body {
    position: absolute;
    width: 2596px;
    height: 850px;
    left: 0px;
    right: 0px;
    top: 20px;
    padding-top: 50px;
    padding-left: 50px;
    overflow-x: scroll;
    overflow-y: scroll;
}
.enter {
    left: 20px;
}

.bigPage{
    overflow-y: hidden !important;
    overflow-x: hidden;
}

.message-container {
    max-width: 700px;
    max-height: 650px;
    margin: auto;
    grid-template-rows: max-content;
    overflow-y: scroll;
  }
  
.input-box{
    width: 650px;
}