.help {
    background: linear-gradient(to bottom, rgba(255, 115, 63, 0.7) 38.02%, rgba(196, 196, 196, 0) 100%);
    width: 2596px;
    height: 850px;
    left: 0px;
    right: 0px;
    top: 20px;
    padding-top: 50px;
    padding-left: 10px;
}

ul{
    list-style-type: none;
}

.help2 {
    width: 2596px;
    height: 850px;
    left: 0px;
    right: 0px;
    padding-left: 50px;
}

.help3 {
    width: 2596px;
    height: 850px;
    left: 0px;
    right: 0px;
    padding-left: 50px;
}

li{
    font-size: 20px;
    margin-bottom: 20px;
}

.contactInfo{
    color: rgb(114, 112, 112);
}