@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html,body{
    /* width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0; */
    
}


#loginSide {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* left: 161px;
    top: 338px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    margin: 0;
    padding: 5%;
    
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 72px;
    
    text-align: center;
    
    color: rgba(0, 0, 0, 0.74);
}
#welcomeBlock{
    background-color: #FF723F;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    height: 100%;
    margin: 0 auto;
    display: flex;

    
}
#WelcomeMessage{
    /* margin-top: 50%; */
    /* margin: 0 auto; */
}
#email {
 border: solid #FF723F 2px;
}

#password {
    border: solid #FF723F 2px;
}
