.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message_user {
    color: white;
    margin-left: auto;
    text-align: left !important;
}

.message_userCard {
    background-color: #FF723F !important;
}

.message_guestCard {
    background-color: #e9e9eb !important;
    
}