body{
    overflow: hidden;
}
#profileContainer {
    justify-content: left;
    background: linear-gradient(180deg, rgba(246, 245, 245, 0) 0%, rgba(255, 115, 63, 0.24) 100%);

}
#surveyButton{
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    color: white;
    background: #FF723F
}
#Bio{
    font-size: 15px;
}
#MatchesButton{
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    color: white;
    background: #FF723F
}